.BoardStatus > h6 {
  font-weight: bold;
  background: #dfe6e9;
  padding: 8px;
}

.BoardStatus .TaskPreview:not(:first-child) {
  margin-top: 10px;
}

.BoardStatus:hover {
  background-color: rgba(223, 230, 233, 0.1);
  border-radius: 4px;
  border: 1px solid #dfe6e9;
}
