@import 'aionic-shared/scss/components/variables.scss';

.navbar {
	background-color: $bg-grey;
	min-height: 4.375rem;
	border-bottom: 1px solid #dfe6e9;

	.navbar-nav a.nav-link {
		padding: 10px 15px;
	}
}

.navbar #wrapper.toggled .navbar .fa-chevron-left {
	display: none;
}

#wrapper:not(.toggled) .navbar .fa-chevron-right {
	display: none;
}
