.navbar {
  background-color: #f8f9fa;
  min-height: 4.375rem;
  border-bottom: 1px solid #dfe6e9;
}

#wrapper.toggled .navbar .fa-chevron-left {
  display: none;
}

#wrapper:not(.toggled) .navbar .fa-chevron-right {
  display: none;
}
