@import 'aionic-library/scss/components/variables';

.Tags {
	margin-top: 1rem;

	ul > li:not(:first-child).add-tag {
		margin-left: 0.5em;
	}

	.fa-plus {
		color: #e84393;
		cursor: pointer;
	}

	.TagsForm {
		input {
			border-color: $grey-light-dark;
			box-shadow: none;
			outline: none;
		}
	}
}
