.InputTitle > h1 {
  margin: -5px;
}

.InputTitle > h1 > input {
  background: transparent;
  border: none;
  color: #2d3436;
  padding: 5px 5px;
}

.InputTitle > h1 > input:focus {
  background: white;
}
