.InputTitle {
	input {
		margin: -5px;
		background: transparent;
		border: none;
		color: #2d3436;
		padding: 0px;
	}

	input.completed {
		text-decoration: line-through;
	}

	input:focus {
		outline: none;
	}
}
