.InputTitle {
  display: table;
  height: 100%;
  width: 100%;
}

.InputTitle > .color {
  display: table-cell;
  height: 100%;
  width: 8px;
  border-radius: 8px;
}

.InputTitle > input {
  display: table-cell;
  background: transparent;
  border: none;
  color: #2d3436;
  margin-left: 8px;
  padding: 5px 5px;
  width: 100%;
}

.InputTitle > input:focus {
  background: white;
}
