.TaskTag {
  color: #e84393;
}

.TaskTag.list-inline-item {
  background-color: #e3ebf6;
  border-radius: 4px;
  margin-right: 0.75rem;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px 10px;
}
