.card-header {
  flex: 1 1 auto;
}

.card-body {
  flex: 0 1 auto;
  padding: 1rem;
}

a.CardLink {
  color: inherit;
  text-decoration: none;
}

a.CardLink:hover {
  border-color: #a29bfe;
  color: inherit;
  cursor: pointer;
}
