@import './variables';

.dropdown-item.active,
.dropdown-item:active {
	background-color: #0984e3;
}

.nav {
	.nav-link {
		color: $blue;
	}
}

.nav-pills > .nav-link.active {
	background-color: $violet !important;
}
