.shadow {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.shadow-small {
  -webkit-box-shadow: 0 0.2rem 0.8rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(58, 59, 69, 0.15) !important;
}
