/*
  Color palette: https://flatuicolors.com/palette/us
*/

$violet: #6c5ce7;
$violet-dark: #6152cf;

$grey: #636e72;
$grey-dark: #596366;

$blue: #0984e3;
$blue-dark: #0876cc;

$mint: #00b894;
$mint-dark: #00a585;

$orange: #e17055;
$orange-dark: #ca644c;

$pink: #e84393;
$pink-dark: #d03c84;

$red: #d63031;
$red-dark: #c02b2c;

$text-grey: #636e72;

$bg-grey: #f8f9fa;
