@import 'aionic-library/scss/components/variables.scss';

.KanbanStatus {
	position: relative;
	margin-bottom: 10px;
	padding: 0 10px;

	.step-content {
		height: 100%;
	}

	h6 {
		font-weight: bold;
		background: $grey-light;
		padding: 8px;
	}

	.task-wrapper:not(:first-child) {
		margin-top: 10px;
	}
}
