@import 'aionic-library/scss/components/variables.scss';

.KanbanStatus {
	margin-bottom: 5px;
	padding: 0 10px;
	position: relative;

	.step-content {
		height: 100%;
	}

	h6 {
		background: $grey-light;
		font-weight: bold;
		padding: 8px;
	}

	.wrapper {
		margin-top: 10px;
	}
}
