.TaskTags {
  margin-top: 25px;
}

.TaskTags ul {
  padding: 0px 10px;
  background-color: #e3ebf6;
  border-radius: 0.25rem;
}

.TaskTags > ul > li:not(:first-child).add-tag {
  margin-left: 1em;
}

.TaskTags .fa-plus {
  color: #e84393;
  cursor: pointer;
}
