@import 'aionic-library/scss/components/variables.scss';

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #dfe6e9;

	.navbar-nav {
		a.nav-link.active {
			color: $violet;
		}

		a.nav-link,
		button.nav-link {
			padding: 10px 15px;
		}
	}
}
