@import 'aionic-library/scss/components/variables.scss';

.SearchBar {
	.input-group input {
		background-color: $bg-grey;
		border: none;
		-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
		transition: width 0.5s;
	}
}

@media (min-width: 992px) {
	.SearchBar {
		.input-group input {
			width: 12rem;
		}

		.input-group input:focus {
			width: 18rem;
			outline: none;
			box-shadow: none;
		}
	}
}
