.SearchBar {
	.input-group input {
		background-color: white;
		border: 1px solid #b2bec3;
		-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
		transition: width 0.5s;
	}
}

@media (min-width: 992px) {
	.SearchBar {
		.input-group input {
			width: 10rem;
		}

		.input-group input:focus {
			width: 20rem;
		}
	}
}
