.Sidebar {
  background-color: #6c5ce7;
  color: white;
  min-height: 100vh;
  margin-left: -14rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.Sidebar .sidebar-divider {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: 90%;
}

.Sidebar .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.Sidebar .list-group {
  width: 14rem;
}

.Sidebar .list-group a {
  background-color: #6c5ce7;
  color: rgba(255, 255, 255, 0.8);
  border: none;
}

.Sidebar .list-group a.active {
  color: white;
}

.Sidebar .list-group a:hover {
  color: white;
}

.Sidebar .list-group a:not(.active) .fa-chevron-right {
  display: none;
}

.Sidebar .list-group a > i:not(.fa-chevron-right) {
  margin-right: 10px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -14rem;
  }
}
