@import 'styles/variables';

.Sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 2;
	background-color: $bg-grey;
	color: white;
	width: 100%;
	max-width: 230px;
	margin-left: -230px;
	border-right: 1px solid #dfe6e9;
	-webkit-transition: margin 0.25s ease;
	-moz-transition: margin 0.25s ease;
	-o-transition: margin 0.25s ease;
	transition: margin 0.25s ease;

	.sidebar-heading {
		padding: 0.8rem 0rem;
		font-size: 1.2rem;
		min-height: 4.375rem;
		max-height: 4.375rem;
	}

	.list-group a {
		display: block;
		background-color: inherit;
		color: #636e72;
		border: none;
	}

	.list-group a.active {
		background-color: #eee;
		color: #6c5ce7;
	}

	.list-group a:hover {
		color: #6c5ce7;
	}
}

#App.toggled .Sidebar {
	margin-left: 0;
}

@media (min-width: 768px) {
	.Sidebar {
		margin-left: 0;
	}

	#App.toggled .Sidebar {
		margin-left: -250px;
		-webkit-transition: margin 0.25s ease;
		-moz-transition: margin 0.25s ease;
		-o-transition: margin 0.25s ease;
		transition: margin 0.25s ease;
	}
}
