.shadow {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

a {
  color: #e84393;
}

a:hover {
  color: #d03c84;
}

a.CardLink {
  color: inherit;
  text-decoration: none;
}

a.CardLink:hover {
  border-color: #a29bfe;
  cursor: pointer;
}

.text-muted {
  color: #636e72 !important;
}

/*
* ### BUTTONS / INPUTS etc. ###
*/

.nav-pills > .nav-link.active {
  background-color: #6c5ce7 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(108, 92, 231, 0.3);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #0984e3;
}

.btn-primary {
  background-color: #0984e3;
  border-color: #0984e3;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #0876cc !important;
  border-color: #0876cc !important;
}

.btn-secondary {
  background-color: #00b894;
  border-color: #00b894;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #00a585 !important;
  border-color: #00a585 !important;
}

.btn-danger {
  background-color: #d63031;
  border-color: #d63031;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #c02b2c !important;
  border-color: #c02b2c !important;
}

.btn-link,
.nav-link {
  color: #0984e3;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #0876cc;
}

.badge-primary {
  background-color: #6c5ce7;
}

.badge-secondary {
  background-color: #00b894;
}
