@import 'aionic-library/scss/index.scss';

body {
	background-color: $bg-grey;
	overflow-x: hidden;
	font-family: 'Lexend Deca', sans-serif;
}

.nav-tabs .nav-link.active {
	background-color: $grey-light;
}

#page-content-wrapper {
	padding-bottom: 15px;

	> .container {
		padding: 20px 20px 0px;

		/*.page-content {
			padding: 10px 25px 0px;
		}*/
	}
}
